# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

merge_df=pd.merge(school_data,student_data, on="school_name", how="left")
merge_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

## District Summary

In [2]:
# Calculate the Totals (Schools and Students)
total_school = merge_df['school_name'].nunique()
total_students = merge_df['student_name'].count()
total_budget = school_data['budget'].sum()
print(total_school)
print(total_students)
# Calculate the Total Budget

# Calculate the Average Scores
passed_reading = merge_df.loc[merge_df["reading_score"] >= 70]
passed_math = merge_df.loc[merge_df["math_score"] >= 70]
passed_both = merge_df.loc[passed_reading.index & passed_math.index]
    # use df.index to get only the indexes of the records
    # these indices will be used to filter out records in the loc function
pct_passed_reading = (len(passed_reading)/total_students)*100
pct_passed_math = (len(passed_math)/total_students)*100
pct_passed_both = (len(passed_both)/total_students)*100
    # this is more appropriate for analytical purposes
avg_reading_math_passing_rate = (pct_passed_reading + pct_passed_math) / 2
    # this is what the original assignment calls for (the avg of both reading and math passing rates)
print(f'% Passed Reading: {pct_passed_reading}')
print(f'% Passed Math: {pct_passed_math}')
print(f'% Passed Both: {pct_passed_both}')
    # displays the % of students who passed both reading and math (more precise for analytical purposes)
print(f'% Average of Reading and Math Passing Rates: {avg_reading_math_passing_rate}')
#Average Scores
avg_math = merge_df['math_score'].mean()
avg_reading = merge_df['reading_score'].mean()
district_results = [{"Total Schools": total_school, "Total Students": total_students, "Total Budget": total_budget, "Average Math Score":  round(avg_math,2), 
"Average Reading Score":  round(avg_reading,2), "% Passing Math": round(pct_passed_math,2),"% Passing Reading": round(pct_passed_reading,2),
"% Overall Passing Rate": round(pct_passed_both,2)}]

district_summary = pd.DataFrame(district_results)

district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.2f}%".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

district_summary

15
39170
% Passed Reading: 85.80546336482001
% Passed Math: 74.9808526933878
% Passed Both: 65.17232575950983
% Average of Reading and Math Passing Rates: 80.39315802910392

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [3]:
#school_type = merge_df['type']
school_type = merge_df.set_index(["school_name"])["type"]
total_students = merge_df['school_name'].value_counts()
#print(school_type)
school_group = merge_df.groupby(['school_name'])
schools = school_group.size()
schools
# Calculate the total school budget and per capita spending
school_budget = merge_df.groupby(['school_name']).mean()['budget']
school_budget
per_capita = school_budget / total_students
per_capita
# Calculate the average test scores
math_per = merge_df.groupby(['school_name']).mean()['math_score']
math_per
reading_per = merge_df.groupby(['school_name']).mean()['reading_score']
reading_per
# Calculate the passing scores by creating a filtered data frame
perschool_math = merge_df[(merge_df["math_score"] > 70)]
perschool_reading = merge_df[(merge_df["reading_score"] > 70)]
# Convert to data frame
perschool_reading = perschool_reading.groupby(['school_name']).count()['student_name']/(total_students)*100
perschool_math = perschool_math.groupby(['school_name']).count()['student_name']/(total_students)*100
perschool_both = (perschool_math + perschool_reading)/2
#per_passed_both = ((perschool_both) / 2)*100
# Minor data munging
capita_results = {"School Type": school_type, 
                   "Total Students": total_students, 
                   "Total School Budget": school_budget, 
                   "Per Student Budget": per_capita,
                   "Average Math Score":  round(math_per,2), 
                    "Average Reading Score":  round(reading_per,2), 
                   "% Passing Math": round(perschool_math,2),
                   "% Passing Reading": round(perschool_reading,2),
                    "% Overall Passing Rate": round(perschool_both,2)}
# Display the data frame
#capita_results
school_summary = pd.DataFrame(capita_results)
school_summary

ValueError: cannot reindex from a duplicate axis

In [25]:
# Determine the School Type
school_type = merge_df["type"]
school_type = merge_df[["school_name","type"]].drop_duplicates()
school_type

# Calculate the total student count
school_type = merge_df[["school_name","type","size"]].drop_duplicates()
school_type.index=school_type.school_name

# Calculate the total school budget and per capita spending
#per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_type = merge_df[["school_name","type","size","budget"]].drop_duplicates()
school_type["per_student_budget"] = school_type["budget"]/school_type["size"]
school_type=school_type.set_index("school_name")
#school_type
# Calculate the average test scores
average_scores = merge_df.groupby("school_name")[["reading_score", "math_score"]].mean()
average_scores

school_df = pd.merge(school_type,average_scores, left_index=True, right_index=True)

#school_df
# Calculate the passing scores by creating a filtered data frame

pass_math = merge_df[merge_df.math_score>=70]
pass_math = pass_math.groupby("school_name")["math_score"].count()
school_type["number_passed_math"]= pass_math
school_type["Math Pass Rate"] = school_type["number_passed_math"]/school_type["size"]*100
#school_type

pass_read = merge_df[merge_df.reading_score>=70]
pass_read = pass_read.groupby("school_name")["reading_score"].count()
school_type["number_passed_read"]= pass_read
school_type["Reading Pass Rate"] = school_type["number_passed_read"]/school_type["size"]*100
#school_type

Overall_Rate = (school_type["Reading Pass Rate"] + school_type["Math Pass Rate"])/2
school_type["Overall_Rate"] = (school_type["Math Pass Rate"] + school_type["Reading Pass Rate"])/2

school_type_df = pd.merge(school_type, average_scores, how="left", on="school_name")
school_final = school_type_df.rename(columns = {"per_student_budget":"Per Student Budget","number_passed_math": "Passed Math", "number_passed_read": "Passed Reading", "reading_score": "Average Reading Score","math_score":"Average Math Score"})
school_final

,type,size,budget,Student Budget,Passed Math,Math Pass Rate,Passed Reading,Reading Pass Rate,Overall_Rate,Average Reading Score,Average Math Score
school_name,,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,1916,65.683922,2372,81.316421,73.500171,81.182722,76.629414
Figueroa High School,District,2949,1884411,639.0,1946,65.988471,2381,80.739234,73.363852,81.158020,76.711767
Shelton High School,Charter,1761,1056600,600.0,1653,93.867121,1688,95.854628,94.860875,83.725724,83.359455
Hernandez High School,District,4635,3022020,652.0,3094,66.752967,3748,80.862999,73.807983,80.934412,77.289752
Griffin High School,Charter,1468,917500,625.0,1371,93.392371,1426,97.138965,95.265668,83.816757,83.351499
Wilson High School,Charter,2283,1319574,578.0,2143,93.867718,2204,96.539641,95.203679,83.989488,83.274201
Cabrera High School,Charter,1858,1081356,582.0,1749,94.133477,1803,97.039828,95.586652,83.975780,83.061895
Bailey High School,District,4976,3124928,628.0,3318,66.680064,4077,81.933280,74.306672,81.033963,77.048432
Holden High School,Charter,427,248087,581.0,395,92.505855,411,96.252927,94.379391,83.814988,83.803279
Pena High School,Charter,962,585858,609.0,910,94.594595,923,95.945946,95.270270,84.044699,83.839917
Wright High School,Charter,1800,1049400,583.0,1680,93.333333,1739,96.611111,94.972222,83.955000,83.682222
Rodriguez High School,District,3999,2547363,637.0,2654,66.366592,3208,80.220055,73.293323,80.744686,76.842711
Johnson High School,District,4761,3094650,650.0,3145,66.057551,3867,81.222432,73.639992,80.966394,77.072464
Ford High School,District,2739,1763916,644.0,1871,68.309602,2172,79.299014,73.804308,80.746258,77.102592
Thomas High School,Charter,1635,1043130,638.0,1525,93.272171,1591,97.308869,95.290520,83.848930,83.418349

In [ ]:
school_type = merge_df['type'].unique()
print(school_type)
school_type = merge_df.groupby(['school_name'])
schools = school_type.size()
schools

math_per = merge_df.groupby(['school_name']).mean()['math_score']
math_per
reading_per = merge_df.groupby(['school_name']).mean()['reading_score']
reading_per

In [ ]:
school_type = merge_df['type'].unique()
print(school_type)
school_type = merge_df.groupby(['school_name'])
schools = school_type.size()
schools

# Calculate the total school budget and per capita spending
school_budget = merge_df.groupby(['school_name']).mean()['budget']
school_budget

per_capita = school_budget / schools
per_capita

# Calculate the average test scores
math_per = merge_df.groupby(['school_name']).mean()['math_score']
math_per
reading_per = merge_df.groupby(['school_name']).mean()['reading_score']
reading_per
# Calculate the passing scores by creating a filtered data frame
perschool_math = merge_df[(merge_df["math_score"] > 70)].count()
perschool_reading = merge_df[(merge_df["reading_score"] > 70)].count()
perschool_both = (perschool_math + perschool_reading)
# Convert to data frame

per_passed_reading = (perschool_reading)/(total_students)*100
per_passed_math = (perschool_math)/(total_students)*100
per_passed_both = ((perschool_both)/(total_students) / 2)*100
#per_passed_both

In [ ]:
perschool_math = merge_df[(merge_df["math_score"] > 70)].count()
perschool_reading = merge_df[(merge_df["reading_score"] > 70)].count()
perschool_both = (perschool_math + perschool_reading)
# Convert to data frame

per_passed_reading = (perschool_reading)/(total_students)*100
per_passed_math = (perschool_math)/(total_students)*100
per_passed_both = ((perschool_both)/(total_students) / 2)*100
per_passed_reading

In [19]:
school_type = merge_df['type'].unique()
school_type = merge_df.groupby(['school_name'])
school_type = merge_df.set_index(["school_name"])["type"]


total_students = merge_df['school_name'].value_counts()
#print(school_type)
school_group = merge_df.groupby(['school_name'])
schools = school_group.size()
schools

# Calculate the total school budget and per capita spending
school_budget = merge_df.groupby(['school_name']).mean()['budget']
school_budget

per_capita = school_budget / total_students
#per_capita

# Calculate the average test scores
math_per = merge_df.groupby(['school_name']).mean()['math_score']
#math_per
reading_per = merge_df.groupby(['school_name']).mean()['reading_score']
#reading_per
# Calculate the passing scores by creating a filtered data frame
perschool_math = merge_df[(merge_df["math_score"] > 70)]
perschool_reading = merge_df[(merge_df["reading_score"] > 70)]

# Convert to data frame

perschool_reading = perschool_reading.groupby(['school_name']).count()['student_name']/(total_students)*100
perschool_math = perschool_math.groupby(['school_name']).count()['student_name']/(total_students)*100
perschool_both = (perschool_math + perschool_reading)/2
#per_passed_both = ((perschool_both) / 2)*100

capita_results = [{"School Type": school_type, 
                   "Total Students": total_students, 
                   "Total School Budget": school_budget, 
                   "Per Student Budget": per_capita,
                   "Average Math Score":  round(math_per,2), 
                    "Average Reading Score":  round(reading_per,2), 
                   "% Passing Math": round(perschool_math,2),
                   "% Passing Reading": round(perschool_reading,2),
                    "% Overall Passing Rate": round(perschool_both,2)}]

# Display the data frame
capita_results
school_summary = pd.DataFrame(capita_results)

#school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:,.2f}%".format)
#school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
#school_summary["% Overall Passing Rate"] = school_summary["% Overall Passing Rate"].map("{:,.2f}%".format)
#school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
#school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary

[{'School Type': school_name
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
                          ...
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Name: type, Length: 39170, dtype: object,
  'Total Students': Bailey High School       4976
  Johnson High School      4761
  Hernandez High School    4635
  Rodriguez High School    3999
  Figueroa High School     2949
  Huang High School        2917
  Ford High School         2739
  Wilson High School       2283
  Cabrera High School      1858
  Wright High School       1800
  Shelton High School      1761
  Thomas High School       1635
  Griffin High School      1468
  Pena High School          962
  Holden High School        427
  Name: school_name, dtype: int64,
  'Total School Budget': school_name
  Bailey High School       3124928.0
  Cabrera High School      1081356.0
  Figueroa High School     1884411.0
  Ford High School         1763916.0
  Griffin High School       917500.0
  Hernandez High School    3022020.0
  Holden High School        248087.0
  Huang High School        1910635.0
  Johnson High School      3094650.0
  Pena High School          585858.0
  Rodriguez High School    2547363.0
  Shelton High School      1056600.0
  Thomas High School       1043130.0
  Wilson High School       1319574.0
  Wright High School       1049400.0
  Name: budget, dtype: float64,
  'Per Student Budget': Bailey High School       628.0
  Cabrera High School      582.0
  Figueroa High School     639.0
  Ford High School         644.0
  Griffin High School      625.0
  Hernandez High School    652.0
  Holden High School       581.0
  Huang High School        655.0
  Johnson High School      650.0
  Pena High School         609.0
  Rodriguez High School    637.0
  Shelton High School      600.0
  Thomas High School       638.0
  Wilson High School       578.0
  Wright High School       583.0
  dtype: float64,
  'Average Math Score': school_name
  Bailey High School       77.05
  Cabrera High School      83.06
  Figueroa High School     76.71
  Ford High School         77.10
  Griffin High School      83.35
  Hernandez High School    77.29
  Holden High School       83.80
  Huang High School        76.63
  Johnson High School      77.07
  Pena High School         83.84
  Rodriguez High School    76.84
  Shelton High School      83.36
  Thomas High School       83.42
  Wilson High School       83.27
  Wright High School       83.68
  Name: math_score, dtype: float64,
  'Average Reading Score': school_name
  Bailey High School       81.03
  Cabrera High School      83.98
  Figueroa High School     81.16
  Ford High School         80.75
  Griffin High School      83.82
  Hernandez High School    80.93
  Holden High School       83.81
  Huang High School        81.18
  Johnson High School      80.97
  Pena High School         84.04
  Rodriguez High School    80.74
  Shelton High School      83.73
  Thomas High School       83.85
  Wilson High School       83.99
  Wright High School       83.96
  Name: reading_score, dtype: float64,
  '% Passing Math': Bailey High School       64.63
  Cabrera High School      89.56
  Figueroa High School     63.75
  Ford High School         65.75
  Griffin High School      89.71
  Hernandez High School    64.75
  Holden High School       90.63
  Huang High School        63.32
  Johnson High School      63.85
  Pena High School         91.68
  Rodriguez High School    64.07
  Shelton High School      89.89
  Thomas High School       90.21
  Wilson High School       90.93
  Wright High School       90.28
  dtype: float64,
  '% Passing Reading': Bailey High School       79.30
  Cabrera High School      93.86
  Figueroa High School     78.43
  Ford High School         77.51
  Griffin High School      93.39
  Hernandez High School    78.19
  Holden High School       92.74
  Huang High School        78.81
  Johnson High School      78.28
  Pena High School         92.20
  Rodriguez High School    77.74
  Shelton High School      92.62
  Thomas High School       92.91
  Wilson High School       93.25
  Wright High School       93.44
  dtype: float64,
  '% Overall Passing Rate': Bailey High School       71.97
  Cabrera High School      91.71
  Figueroa High School     71.09
  Ford High School         71.63
  Griffin High School      91.55
  Hernandez High School    71.47
  Holden High School       91.69
  Huang High School        71.07
  Johnson High School      71.07
  Pena High School         91.94
  Rodriguez High School    70.91
  Shelton High School      91.25
  Thomas High School       91.56
  Wilson High School       92.09
  Wright High School       91.86
  dtype: float64}]

In [22]:
school_type = merge_df['type'].unique()
school_type = merge_df.groupby(['school_name'])
school_type = merge_df.set_index(["school_name"])["type"]


total_students = merge_df['school_name'].value_counts()
#print(school_type)
school_group = merge_df.groupby(['school_name'])
schools = school_group.size()
schools

# Calculate the total school budget and per capita spending
school_budget = merge_df.groupby(['school_name']).mean()['budget']
school_budget

per_capita = school_budget / total_students
#per_capita

# Calculate the average test scores
math_per = merge_df.groupby(['school_name']).mean()['math_score']
#math_per
reading_per = merge_df.groupby(['school_name']).mean()['reading_score']
#reading_per
# Calculate the passing scores by creating a filtered data frame
perschool_math = merge_df[(merge_df["math_score"] > 70)]
perschool_reading = merge_df[(merge_df["reading_score"] > 70)]

# Convert to data frame

perschool_reading = perschool_reading.groupby(['school_name']).count()['student_name']/(total_students)*100
perschool_math = perschool_math.groupby(['school_name']).count()['student_name']/(total_students)*100
perschool_both = (perschool_math + perschool_reading)/2
#per_passed_both = ((perschool_both) / 2)*100

capita_results = pd.DataFrame([{"School Type": school_type, 
                   "Total Students": total_students, 
                   "Total School Budget": school_budget, 
                   "Per Student Budget": per_capita,
                   "Average Math Score":  round(math_per,2), 
                    "Average Reading Score":  round(reading_per,2), 
                   "% Passing Math": round(perschool_math,2),
                   "% Passing Reading": round(perschool_reading,2),
                    "% Overall Passing Rate": round(perschool_both,2)}])

# Display the data frame
capita_results

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Huang High School District Hua...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,Bailey High School 64.63 Cabrera High Sc...,Bailey High School 79.30 Cabrera High Sc...,Bailey High School 71.97 Cabrera High Sc...

In [ ]:
# Determine the School Type
school_type = merge_df['type'].unique()
# Calculate the total student count
#above
# Calculate the total school budget and per capita spending
per_school_budget = merge_df.groupby(["school_name"]).mean()["budget"]
per_student = per_school_budget / total_students

# Calculate the average test scores
avg_reading = merge_df.loc[merge_df["reading_score"]].mean()
avg_math = merge_df.loc[merge_df["math_score"]].mean()
# Calculate the passing scores by creating a filtered data frame

# Convert to data frame

# Minor data munging
capita_results = [{"School Type": school_type, "Total Students": total_students, "Total School Budget": _budget, "Average Math Score":  round(avg_math,2), 
"Average Reading Score":  round(avg_reading,2), "% Passing Math": round(pct_passed_math,2),"% Passing Reading": round(pct_passed_reading,2),
"% Overall Passing Rate": round(pct_passed_both,2)}]
# Display the data frame

## Top Performing Schools (By Passing Rate)

In [26]:
# Sort and show top five schools
best_five = school_final.sort_values("Overall Passing Rate", ascending=True)
best_five.head()

KeyError: 'Overall Passing Rate'

## Bottom Performing Schools (By Passing Rate)

In [ ]:
# Sort and show bottom five schools
worst_five = 'DATAFRAME'.sort_values("Overall Passing Rate", ascending=False)
worst_five.head()

## Math Scores by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals
ninth_grade = merge_df['grade'] == '9th'
tenth_grade = merge_df['grade'] == '10th'
eleventh_grade = merge_df['grade'] == '11th'
twelfth_grade = merge_df['grade'] == '12th'

score_ninth = merge_df.loc[ninth_grade]
score_tenth = merge_df.loc[tenth_grade]
score_eleventh = merge_df.loc[eleventh_grade]
score_twelfth = merge_df.loc[twelfth_grade]

group_ninth = score_ninth.groupby(["school_name"])
group_tenth = score_tenth.groupby(["school_name"])
group_eleventh = score_eleventh.groupby(["school_name"])
group_twelfth = score_twelfth.groupby(["school_name"])

grading = group_ninth["math_score"].mean()
grading = group_tenth["math_score"].mean()
grading = group_eleventh["math_score"].mean()
grading = group_twelfth["math_score"].mean()



# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

## Reading Score by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals
# Create data series of scores by grade levels using conditionals
ninth_grade = merge_df['grade'] == '9th'
tenth_grade = merge_df['grade'] == '10th'
eleventh_grade = merge_df['grade'] == '11th'
twelfth_grade = merge_df['grade'] == '12th'

score_ninth = merge_df.loc[ninth_grade]
score_tenth = merge_df.loc[tenth_grade]
score_eleventh = merge_df.loc[eleventh_grade]
score_twelfth = merge_df.loc[twelfth_grade]

group_ninth = score_ninth.groupby(["school_name"])
group_tenth = score_tenth.groupby(["school_name"])
group_eleventh = score_eleventh.groupby(["school_name"])
group_twelfth = score_twelfth.groupby(["school_name"])

grading = group_ninth["reading_score"].mean()
grading = group_tenth["reading_score"].mean()
grading = group_eleventh["reading_score"].mean()
grading = group_twelfth["reading_score"].mean()
# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the bins -- choose any set of bins you would like, but see below for testing bins
# to test, set your bins as follows: [0, 585, 615, 645, 675]
# ALSO -- Note that the values for `% Passing Math`, `% Passing Reading` and `% Overall Passing Rate`
# were computed using averages of averages -- your results may vary if you use weighted averages 
spend_bins = [0, 585, 615, 645, 675]
spend_labels = ["<$585", "$585-615", "$615-645", "$645-675"]
spend_final["size"] = pd.cut(school_final["size"],spend_bins,labels = spend_labels)
size = school_final.groupby(["size"]).mean()
size[["Average Math Score",
      "Average Reading Score",
      "Reading Pass Rate",
      "Math Pass Rate",
      "% Overall Passing Rate"]]

## Scores by School Size

In [ ]:
# Establish the bins 

# Categorize the spending based on the bins

# Calculate the scores based on bins

# Assemble into data frame

# Minor data munging

# Display results

## Scores by School Type

In [ ]:
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing Rate

# Assemble into data frame

# Minor data munging

# Display results